body {
    background-image: url(../img/pattern.jpg);
    font-family: 'Slabo 27px', serif;
    margin: 0px;
}

header {
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    transition: top 0.3s;
    margin: auto;
    width: 100%;
    /* margin: auto; */
}

header > div {
    display: flex;
}
nav {
    margin: auto;
}
nav li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

section {
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
    /* position: relative; */
    margin-top: 70px;
    padding: 20px;
    margin-bottom: 100px;
    height: 500px;
    overflow-y: scroll;
}

h1 {
    text-align: center;
}

article {
    border-bottom: 1px solid lightgrey;
}

#image {
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#image img {
    /* max-height: 320px;
    max-width: 70px; */
    position: absolute;
    left: -200px;
    top: -250px;
}

h5 {
    text-align: center;
}

footer {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: black;
    color: white;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.content {
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    overflow-y: scroll;
}

table {
    border: none !important;
}

th, td {
    border: none !important;
}

.movieList{
    border-collapse: collapse;
}
.movieList > th, td {
    border-bottom: 1px solid #dddddd;
}
.movieList > tr:hover {
    background-color: #f5f5f5;
}
/* td {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
} */



